body {
  background-color: #352524;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.block {
  height: 300px;
  width: 300px;
  position: absolute;
  border: 10px dotted green;
  overflow: hidden;
}

#boom {
  display: none;
}

#jump {
  display: none;
}

#seat {
  display: none;
}
